html,
body {
    min-height: 100% !important;
    height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(-45deg, #ffffff, rgb(104, 207, 255));
    background-size: 4000% 4000%;
    animation: gradient 10s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 860px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

ul {
    list-style-type: none;
}

header {
    height: 5%;
    color: white;
    font-size: 20pt;
    text-align: center;
    font-family: 'Courier New';
    float: left;
    width: 100%;
    position: fixed;
}

nav button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin: 14px 16px 20px -10%;
    height: 50px;
    left: 0px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 50px;
    outline: 0;
    background: none;
    cursor: pointer;
    width: 100%;
}

nav button:hover {
    background: rgb(121, 71, 129)!important;
    color: black;
}

header img {
    float: left;
    height: 100%;
    outline: none;
}

#cesta {
    float: right;
    padding-right: 2%;
    height: 100%;
    cursor: pointer;
    outline: none;
}

header div {
    float: right;
    border-radius: 50%;
    color: black;
    font-size: 50%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3%;
    color: black;
    font-size: 10pt;
    text-align: right;
    font-family: 'Arial';
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    width: 10%;
    float: left;
    padding-top: 5%;
    font-family: 'Arial';
    font-size: 15pt;
}

#content {
    padding-left: 10%;
    padding-top: 3%;
    width: 90%;
    height: 92%;
    padding-bottom: 20%;
}

#buscar_icono {
    height: 20px;
}

#buscador {
    text-align: center;
}

#desplegable {
    width: 80%;
    text-align: right !important;
    border-radius: 0;
}

#searchinput {
    width: 80%;
    margin-left:10%;
}

#searchsubmit {
    width: 80%;
}


.searchbox {
    float: left;
}

.search {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin: 14px 16px 20px 10%;
    height: 50px;
    left: 0px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 50px;
    outline: 0;
    background: none;
    cursor: pointer;
}

#novedades {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    background: rgb(52, 117, 192);
    border-radius: 50px;
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2%;
}

hr {
    border: 1px solid #719db9;
    opacity: 0.7;
    margin-bottom: 25px;
    margin-top: 25px;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.btn-group {
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin: 1% 20% 20px 25%;
    height: 50px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 50px;
    outline: 0;
    background: none;
    cursor: pointer;
    width: 50%;
}

.btn-group button:hover {
    background: orange;
}

.slideshow-container div img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.pelicula {
    cursor: pointer;
    text-align: center;
    float: left;
    margin-right: 20px;
    text-align: center;
}

.pelicula div {
    background: rgb(101, 101, 241);
    width: 200px !important;
}

.pelicula img {
    height: 300px;
    display: block;
    width: auto;
    
}

.pelicula:hover .info {
    visibility: visible;
}

.pelicula .info {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    /* Position the tooltip */
    position: relative;
}

.infonovedades {
    width: 200px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    /* Position the tooltip */
    position: relative;
    float:center;
}

.blocknovedades{
    display:block;
    float:center;
    width: auto;
}

h1 {
    color: #1b6be4;
    font-size: 60px;
}


/* Add padding to containers */

.container {
    padding: 16px;
}

.alerta {
    color: red;
    font-size: 20px;
    text-align: center;
}


/* Full-width input fields */

input[type=text],
input[type=password],
input[type=email] {
    width: 98%;
    padding: 15px;
    border-radius: 50px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

progress {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
}

progress::-webkit-progress-bar {
    background-color: #000;
    width: 100% !important;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit button */

.registerbtn {
    font-size: 20px;
    background: #1b6be4;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    opacity: 0.7;
}

.registerbtn:hover {
    box-shadow: 0 0 10px 100px #ff3c00 inset;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

#fcredito {
    margin-top: 20px;
    font-size: 20px;
}

button:hover {
    background: #749682;
    color: black;
}

#checkout {
    font-size: 20px;
    background: #1b6be4;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    opacity: 0.7;
}

.delete {
    background: red;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: left !important;
    margin-top: 5px;
    margin-left: 10px;
    position:absolute !important;
}

.item {
    float: right;
    width: 80%;
    height: 200px;
    margin-right: 10%;
    color: #989898;
    margin-bottom: 10px;
}

.left {
    margin-left: 3%;
    position: absolute;
    float: left;
    font-size: 20pt;
    font-weight: bold;
}

.price {
    line-height: 100px;
    color: green;
}

.pedido {
    line-height: 200px;
    color: black;
}

.actualinputquantity{
    width:70px;
    border-radius: 50px;
    font-size: 20pt !important;
}

#fecha {
    line-height: 300px;
}

#quantity {
    font-size: 10pt;
}

.as {
    float: left;
    position: relative;
    color: black;
    text-align: center;
    height: 50px;
    left: 0px;
    width: 10% !important;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 50px;
    outline: 0;
    background: none;
    cursor: pointer;
}

#cantidadsakdo{
    position: relative;
}

#cantidad {
    width: 30%;
    height: 45px;
}

#container {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.actorchunk{
    text-align: center;
}
#container #slider figure img {
    height: 400px;
}

#container #slider figure figcaption {
    display: block;
    float: left;
    width: 60%;
    height: auto;
    padding: 20px;
    overflow: hidden;
    color: #989898;
    line-height: 1.6em;
}

#container #slider figure h2 {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}

#container #slider figure h1 {
    font-size: 60px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}

#info {
    float: left;
}

#annofilm {
    display: block;
    width: 160px;
    height: 100px;
    padding: 20px;
    overflow: hidden;
    color: #ffffff;
    background-color: #837d7d;
    line-height: 50px;
    font-size: 20pt;
    text-align: center;
}

#genrefilm {
    display: block;
    width: 160px;
    height: 200px;
    padding: 20px;
    overflow: hidden;
    color: #000000;
    background-color: #cab7cc;
    font-size: 20pt;
    text-align: center;
}

#pricefilm {
	display: block;
	width: 160px;
	height: 100px;
	padding: 20px;
	overflow: hidden;
	color: #000000;
	background-color: #749682;
	line-height: 50px;
	font-size: 20pt;
	text-align: center;
}


.infodesplegable {
    text-align: left;
    font-size: 20pt;
    margin-top: 5%;
    margin-left: 40%;
    color: black;
    width: auto;
}

.imgdesplegable {
    height: 100%;
    margin-left: 40%;
    float: left;
}

.historial{
    width: 80%;
    margin-right:0px
}

.infodesplegable{
    display:none;
}

.orderrow{
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    width: 80%;
    margin: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

