{% extends 'core/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Please login</h1>
    {% if user.is_authenticated %}
        ALREADY LOGGED IN!
    {% else %}
        {% if alert %}
            <p>{{alert}}</p>
        {% endif %}
        
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
        
            {{ form }}
        
            <input type="submit" value="submit" />
        </form>

    {% endif %}
    
{% endblock %}